@import "tailwindcss";

@theme {
  --blue: #5a9cb5;
  --mint: #badfdb;
  --slate: #9bb4c0;
  --navy: #2d3c59;
  --silver: #bfc6c4;
  --cream: #fff2c6;
  --paper: #faf9ee;
}

/* :root {
  --blue: #5a9cb5;
  --mint: #badfdb;
  --slate: #9bb4c0;
  --navy: #2d3c59;
  --silver: #bfc6c4;
  --cream: #fff2c6;
  --paper: #faf9ee;
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
