@import "tailwindcss";

@theme {
  --color-blue: #5a9cb5;
  --color-mint: #badfdb;
  --color-slate: #9bb4c0;
  --color-navy: #2d3c59;
  --color-silver: #bfc6c4;
  --color-cream: #fff2c6;
  --color-paper: #faf9ee;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
