@import "tailwindcss";

@theme {
  --color-blue: #5a9cb5;
  --color-mint: #badfdb;
  --color-slate: #9bb4c0;
  --color-navy: #2d3c59;
  --color-silver: #bfc6c4;
  --color-cream: #fff2c6;
  --color-paper: #faf9ee;

  /* Typography */
  --tracking-hero-title: -2.56px;
  --tracking-hero-name: -1.92px;
}
